<div>
    <h1>Display Users</h1>
    {{#each users}}
    <div>
        <p>{{id}}</p>
        <p>{{email}}</p>
        <p>{{phone}}</p>
    </div>
    {{/each}}
    <ul class="pagination">
        {{#paginate paginator type="prev"}}
            <li class="page-item"> <a href="/user/?page={{prev}}&limit=3" class="page-link">Prev</a></li>
        {{/paginate}}
        {{#paginate paginator type="links"}}
            <li class="page-item {{#if active}}active{{/if}}"><a href="/user?page={{href}}&limit=3" class="page-link">{{n}}</a></li>
        {{/paginate}}
        {{#paginate paginator type="next"}}
            <li class="page-item"> <a href="/user/?page={{next}}&limit=3" class="page-link">Next</a></li>
        {{/paginate}}
    </ul>
</div>